<div class="row">
    <div class="col-3">
        <p>{{courseName}}</p>
        <p>after uppercase => {{courseName | uppercase}}</p>
        <p>after lowercase => {{courseDuration | lowercase}}</p>
        <p>after captial case => {{courseDuration | titlecase}}</p>
    </div>
    <div class="col-3">
        <p>{{currentDate | date:"dd-MM-yyyy"}}</p>
    </div>
</div>

<div class="row">
    <div class="col-4">
        <p>{{studentObj}}</p>
        <p>{{studentObj | json}}</p>
    </div> 
    <div class="col-4">
        name: {{studentObj.name | na}}
        email: {{studentObj.email | na}}
        state: {{studentObj.state | na}}
    </div>
</div>